<!-- 상품정보 상세보기 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
</head>

<body>
    <h1><%= product.name %></h1>
    <ul>
        <li>Price: $<%= product.price %></li>
        <li>category: <a href="/products?category=<%= product.category %>"><%= product.category%></a></li>
    </ul>
    <a href="/products">All Products(모든상품 보기)</a>
    <a href="/products/<%=product._id%>/edit">Edit Product(상품정보 수정)</a>
    <form action="/products/<%=product._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>
<a href=""></a>