<!-- 상품정보 수정하기 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="product name" value="<%=product.name%> "> 
        <label for="price">Price (Unit)</label>
        <input type="number" name="price" id="price" placeholder="price" value="<%=product.price%>"
        <label for="category">Select Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>" <%=product.category === category ? 'selected': ''%> ><%=category%></option>
            <% } %>
            <!-- <option value="fruit" <%=product.category === 'fruit' ? 'selected': ''%> >fruit</option>
            <option value="vegetable" <%=product.category === 'vegetable' ? 'selected': ''%> >vegetable</option>
            <option value="dairy" <%=product.category === 'dairy' ? 'selected': ''%> >dairy</option> 
            //selected로 수정할떈 무조건 이게 선택, 기존에 저장했던 카테고리가 선택되도록 한것이다. 
            //반복문으로 수정하였음-->
        </select>
        <button>Submit</button>
    </form>
    <a href="/products/<%=product._id%>">Back(상품정보로 돌아가기)</a>
</body>
</html>